<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbBlog ANY>
<!ATTLIST umbBlog id ID #REQUIRED>
<!ELEMENT umbBlogPost ANY>
<!ATTLIST umbBlogPost id ID #REQUIRED>
<!ELEMENT DateFolder ANY>
<!ATTLIST DateFolder id ID #REQUIRED>
<!ELEMENT Forum ANY>
<!ATTLIST Forum id ID #REQUIRED>
<!ELEMENT ForumCategory ANY>
<!ATTLIST ForumCategory id ID #REQUIRED>
<!ELEMENT ForumDateFolder ANY>
<!ATTLIST ForumDateFolder id ID #REQUIRED>
<!ELEMENT ForumLogin ANY>
<!ATTLIST ForumLogin id ID #REQUIRED>
<!ELEMENT ForumPost ANY>
<!ATTLIST ForumPost id ID #REQUIRED>
<!ELEMENT ForumRegister ANY>
<!ATTLIST ForumRegister id ID #REQUIRED>
<!ELEMENT ForumSearch ANY>
<!ATTLIST ForumSearch id ID #REQUIRED>
<!ELEMENT ForumTextPage ANY>
<!ATTLIST ForumTextPage id ID #REQUIRED>
<!ELEMENT ForumTopic ANY>
<!ATTLIST ForumTopic id ID #REQUIRED>
<!ELEMENT StaticHTML ANY>
<!ATTLIST StaticHTML id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>

]>
<root id="-1">
  <umbBlog id="1080" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-10-02T22:44:55" updateDate="2013-10-02T23:00:23" nodeName="Blog" urlName="blog" path="-1,1080" isDoc="" nodeType="1052" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1051" nodeTypeAlias="umbBlog">
    <owner><![CDATA[0]]></owner>
    <bodyText><![CDATA[<p><img width="343" height="208" src="/media/60/simple-welcome-message_343x208.jpg" alt="welcome"/></p>
<table border="0" style="width: 393px; height: 248px;">
<tbody>
<tr>
<td>
<h1>Welcome to angelssandbox.org</h1>
<p style="text-align: right;"><strong><a rel="bookmark" href="http://santitafarella.wordpress.com/2009/03/04/voltaire-those-who-can-make-you-believe-absurdities-can-make-you-commit-atrocities/">“Those who can make you believe absurdities can make you commit atrocities.”</a></strong></p>
<p> </p>
<p><strong> About the author:<br /></strong></p>
<table border="0" cellspacing="0" cellpadding="0" align="right" style="width: 338px; height: 124px;">
<tbody>
<tr>
<td valign="top">
<p>Angel Caban is a veteran Software Engineer &amp; Computer Scientist who loves spreading ideas and engaging in serious thoughts and discussion, ranging from religious views, rationality, engineering or even puppies.</p>
<p>Please feel free to use this site as a resource for any IT or Engineering-Related work.</p>
</td>
</tr>
</tbody>
</table>
<p> </p>
<p> </p>
</td>
</tr>
</tbody>
</table>]]></bodyText>
    <siteName>Angel's Sandbox</siteName>
    <siteDescription><![CDATA[Please feel free to use this site as a resource for any IT or Engineering-Related work.]]></siteDescription>
    <blogroll>
      <links />
    </blogroll>
    <akismetAPIKey>
    </akismetAPIKey>
    <pingServices>
      <links />
    </pingServices>
    <umbBlogPost id="1129" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2014-02-01T23:59:13" updateDate="2014-02-02T02:14:16" nodeName="First Try with Unity" urlName="first-try-with-unity" path="-1,1080,1129" isDoc="" nodeType="1053" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1046" nodeTypeAlias="umbBlogPost">
      <PostDate>2014-02-01T00:00:00</PostDate>
      <bodyText><![CDATA[<p>After using up a few hours with Unity and looking through one of their tutorials, I've managed to recrate the <a href="http://unity3d.com/learn/tutorials/projects/roll-a-ball" target="_blank">Roll-a-Ball</a> with some extra textures and scripts.</p>
<p>The end result is a funny-looking game where you can move around a funny ball in an attempt to catch 12 scared squares.</p>
<p>Applying the physics and creating scripts for each object was incredibly simple.</p>
<p><a href="/{localLink:1136}" target="_blank" title="Roll-a-Ball">Give it a try</a>.</p>
<p> </p>
<p><strong>What changes were made?</strong></p>
<p>Besides the obvious additions to textures, I wanted to make the rotating cubes run away like cowards.</p>
<p>This wasn't so hard to do.</p>
<p>The first thing you'll notice when trying to do it yourself right after finishing the tutorial is that the cubes don't bounce off the walls. This is because the cubes are set as triggers. If you remove the trigger flag, however, you won't be able to pick up the cubes. So how do we get around this?</p>
<p>In the player script, change OnEnterTrigger to OnCollisionEnter and change the parameter from Collider to Collision:</p>
<pre><span style="color: #400000; font-weight: bold;">void</span> OnCollisionEnter<span style="color: #806030;">(</span>Collision other<span style="color: #806030;">)</span>
<span style="color: #806030;">{</span>
    Debug<span style="color: #806030;">.</span>Log<span style="color: #806030;">(</span><span style="color: #800000;">"</span><span style="color: #e60000;">Player Collided with </span><span style="color: #800000;">"</span> <span style="color: #806030;">+</span> other<span style="color: #806030;">.</span>gameObject<span style="color: #806030;">.</span>tag<span style="color: #806030;">)</span><span style="color: #806030;">;</span>
    <span style="color: #400000; font-weight: bold;">if</span> <span style="color: #806030;">(</span>other<span style="color: #806030;">.</span>gameObject<span style="color: #806030;">.</span>tag <span style="color: #806030;">=</span><span style="color: #806030;">=</span> <span style="color: #800000;">"</span><span style="color: #e60000;">PickUp</span><span style="color: #800000;">"</span><span style="color: #806030;">)</span>
    <span style="color: #806030;">{</span>
        other<span style="color: #806030;">.</span>gameObject<span style="color: #806030;">.</span>SetActive<span style="color: #806030;">(</span><span style="color: #400000; font-weight: bold;">false</span><span style="color: #806030;">)</span><span style="color: #806030;">;</span>
        pickupCount<span style="color: #806030;">+</span><span style="color: #806030;">+</span><span style="color: #806030;">;</span>
        UpdateHudGui<span style="color: #806030;">(</span><span style="color: #806030;">)</span><span style="color: #806030;">;</span>
    <span style="color: #806030;">}</span>
<span style="color: #806030;">}</span>
</pre>
<p>The body of the method can stay exactly the same.</p>
<p>For the cubes, I added a new script beside the Rotator script, called ScaredBot.cs:</p>
<pre><span style="color: #400000; font-weight: bold;">public</span> <span style="color: #400000; font-weight: bold;">class</span> ScaredBot <span style="color: #806030;">:</span> MonoBehaviour
<span style="color: #806030;">{</span>
    <span style="color: #400000; font-weight: bold;">public</span> GameObject player<span style="color: #806030;">;</span>
    <span style="color: #400000; font-weight: bold;">public</span> <span style="color: #400000; font-weight: bold;">float</span> power <span style="color: #806030;">=</span> <span style="color: #c00000;">1000</span><span style="color: #806030;">;</span>

    <span style="color: #400000; font-weight: bold;">void</span> Update<span style="color: #806030;">(</span><span style="color: #806030;">)</span>
    <span style="color: #806030;">{</span>
        <span style="color: #400000; font-weight: bold;">if</span> <span style="color: #806030;">(</span>Mathf<span style="color: #806030;">.</span>Abs<span style="color: #806030;">(</span>rigidbody<span style="color: #806030;">.</span>velocity<span style="color: #806030;">.</span>magnitude<span style="color: #806030;">)</span> &amp;lt<span style="color: #806030;">;</span> <span style="color: #800000;">0.9</span><span style="color: #006600;">f</span><span style="color: #806030;">)</span>
        <span style="color: #806030;">{</span>
            Vector3 diff <span style="color: #806030;">=</span> transform<span style="color: #806030;">.</span>position <span style="color: #806030;">-</span> player<span style="color: #806030;">.</span>transform<span style="color: #806030;">.</span>position<span style="color: #806030;">;</span>
            Vector3 force <span style="color: #806030;">=</span> diff<span style="color: #806030;">.</span>normalized <span style="color: #806030;">*</span> power<span style="color: #806030;">;</span>

            rigidbody<span style="color: #806030;">.</span>AddForce<span style="color: #806030;">(</span>force<span style="color: #806030;">)</span><span style="color: #806030;">;</span>
        <span style="color: #806030;">}</span>
    <span style="color: #806030;">}</span>
<span style="color: #806030;">}</span>
</pre>
<p>This is also quite simple. We take the difference vector between two points, player &amp; cube, normalize it and apply some power, which should probably be named magnitude instead. The normalized difference vector becomes the direction *away* from the player.</p>
<p>Note that the script is not quite enough because we always want the cube to stay floating from the ground a ways, but the arithmetic will always add a force in the Y-direction. There are two ways to get around this. One is to set the Y-component for force to 0. The other is to lock the Y component in the cube's rigid body as shown here:</p>
<p> <img width="439" height="207" src="/media/62/pickupfreezeposition.png" alt="PickupFreezePosition"/></p>
<p>Notice that I've also played around with the Mass and Drag parameters to give the cubes interesting personalities. Some values are subtle differences and some are more wild.</p>
<p>The last thing you may notice is the different effect from the camera control. This was also easy to accomplish.</p>
<p>In order to give the camera a slight tilt, I went away from vector mathematics and modified each vector component individually. I've also utilized the LookAt transform method so that it can compensate for the tranformation drift that pulls the center of the view away from the player.</p>
<pre><span style="color: #400000; font-weight: bold;">void</span> LateUpdate <span style="color: #806030;">(</span><span style="color: #806030;">)</span> <span style="color: #806030;">{</span>
    Vector3 currPos <span style="color: #806030;">=</span> transform<span style="color: #806030;">.</span>position<span style="color: #806030;">;</span>
    currPos<span style="color: #806030;">.</span>x <span style="color: #806030;">=</span> <span style="color: #806030;">(</span>player<span style="color: #806030;">.</span>transform<span style="color: #806030;">.</span>position<span style="color: #806030;">.</span>x <span style="color: #806030;">+</span> offset<span style="color: #806030;">.</span>x<span style="color: #806030;">)</span> <span style="color: #806030;">*</span> <span style="color: #800000;">.000001</span><span style="color: #006600;">f</span><span style="color: #806030;">;</span>
    currPos<span style="color: #806030;">.</span>y <span style="color: #806030;">=</span> <span style="color: #806030;">(</span>player<span style="color: #806030;">.</span>transform<span style="color: #806030;">.</span>position<span style="color: #806030;">.</span>y <span style="color: #806030;">+</span> offset<span style="color: #806030;">.</span>y<span style="color: #806030;">)</span><span style="color: #806030;">;</span>
    currPos<span style="color: #806030;">.</span>x <span style="color: #806030;">=</span> <span style="color: #806030;">(</span>player<span style="color: #806030;">.</span>transform<span style="color: #806030;">.</span>position<span style="color: #806030;">.</span>z <span style="color: #806030;">-</span> offset<span style="color: #806030;">.</span>z<span style="color: #806030;">)</span> <span style="color: #806030;">*</span> <span style="color: #800000;">.000001</span><span style="color: #006600;">f</span><span style="color: #806030;">;</span>
    transform<span style="color: #806030;">.</span>position <span style="color: #806030;">=</span> currPos<span style="color: #806030;">;</span>

    transform<span style="color: #806030;">.</span>LookAt <span style="color: #806030;">(</span>player<span style="color: #806030;">.</span>transform<span style="color: #806030;">)</span><span style="color: #806030;">;</span>
<span style="color: #806030;">}</span>
</pre>
<p> And there it is in a nutshell.</p>
<p> </p>]]></bodyText>
      <tags><![CDATA[]]></tags>
      <closeComments>0</closeComments>
    </umbBlogPost>
  </umbBlog>
  <Forum id="1119" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-02T23:07:47" updateDate="2013-10-03T17:32:26" nodeName="Forum" urlName="forum" path="-1,1119" isDoc="" nodeType="1104" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1082" nodeTypeAlias="Forum">
    <forumName>Angel's Sandbox - Forumn</forumName>
    <forumAdminEmail>angel_cigdem@comcast.net</forumAdminEmail>
    <forumNotificationReplyEmail>noreply@angelssandbox.org</forumNotificationReplyEmail>
    <forumClosed>0</forumClosed>
    <forumEnableKarma>1</forumEnableKarma>
    <forumEnableAjaxPostSnippets>1</forumEnableAjaxPostSnippets>
    <forumEnableMemberReporting>1</forumEnableMemberReporting>
    <forumEnablePrivateMessaging>1</forumEnablePrivateMessaging>
    <forumPrivateMessageFloodControl>2</forumPrivateMessageFloodControl>
    <forumEnableRSSFeeds>1</forumEnableRSSFeeds>
    <forumEnableMarkAsSolution>1</forumEnableMarkAsSolution>
    <forumEnableSpamReporting>1</forumEnableSpamReporting>
    <forumEnableTopicEmailSubscriptions>1</forumEnableTopicEmailSubscriptions>
    <forumManuallyAuthoriseNewMembers>0</forumManuallyAuthoriseNewMembers>
    <forumEmailAdminOnNewMemberSignUp>0</forumEmailAdminOnNewMemberSignUp>
    <forumTopicsPerPage>10</forumTopicsPerPage>
    <forumPostsPerPage>10</forumPostsPerPage>
    <karmaPointsAddedPerPost>1</karmaPointsAddedPerPost>
    <karmaPointsAddedForThumbsUp>2</karmaPointsAddedForThumbsUp>
    <forumKarmaAllowedToVoteAmount>4</forumKarmaAllowedToVoteAmount>
    <pageTitle>
    </pageTitle>
    <metaDescription><![CDATA[]]></metaDescription>
    <ForumSearch id="1120" parentID="1119" level="2" creatorID="0" sortOrder="0" createDate="2013-10-02T23:07:49" updateDate="2013-10-03T17:32:30" nodeName="Forum Search" urlName="forum-search" path="-1,1119,1120" isDoc="" nodeType="1110" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1098" nodeTypeAlias="ForumSearch" />
    <ForumRegister id="1121" parentID="1119" level="2" creatorID="0" sortOrder="1" createDate="2013-10-02T23:07:49" updateDate="2013-10-03T17:32:29" nodeName="Forum Register" urlName="forum-register" path="-1,1119,1121" isDoc="" nodeType="1109" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1096" nodeTypeAlias="ForumRegister" />
    <ForumLogin id="1122" parentID="1119" level="2" creatorID="0" sortOrder="2" createDate="2013-10-02T23:07:50" updateDate="2013-10-03T17:32:28" nodeName="Forum Login" urlName="forum-login" path="-1,1119,1122" isDoc="" nodeType="1107" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1090" nodeTypeAlias="ForumLogin" />
  </Forum>
  <StaticHTML id="1136" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2014-02-02T00:20:38" updateDate="2014-02-02T00:37:55" nodeName="Roll-a-Ball" urlName="roll-a-ball" path="-1,1136" isDoc="" nodeType="1134" creatorName="Angel Caban" writerName="Angel Caban" writerID="0" template="1133" nodeTypeAlias="StaticHTML" />
</root>